
main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.linha {
  border:solid;
  float: left;
  height: 1000px;
}

.container-sorteado {
  color: black;
  font-size: 35px;
  text-align: center;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.container-histórico {
  color: black;
  font-size: 35px;
  text-align: center;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-left: 70px;
}

.destaque {
  font-size: 6.5rem;
  width: 120px;
  color: white;
  background: #248f36;
  border-radius: 100%;
  box-shadow: 10px 8px rgb(158, 158, 158);
}

.tabela {
  align-items: center;
  border-collapse: separate;
  border-spacing: 85px 15px;
}

th {
  font-size: 70px;
  padding-block:  20px;
  padding-inline: 20px;
  color: black;
  border-radius: 100%;
  background: #a6a8aa;
}

tr {
  padding-top: 10px;
}

td {
  text-align: center;
}

.bola {
  background: #dce0e4;
  color: #fff;
  text-align: center;
  font-size: 45px;
  padding-inline: 10px;
  border-radius: 100%;
  box-shadow: 10px 8px rgb(158, 158, 158);
}

.bola-sorteada {
  background: #248f36;
  color: #fff;
  text-align: center;
  font-size: 45px;
  padding-block:  5px;
  padding-inline: 10px;
  border-radius: 100%;
  transition: 1s;
  box-shadow: 10px 8px rgb(158, 158, 158);
}

.footer {
  text-align: center;
  padding-top: 30px;
}

input {

  color: black;
  text-align: center;
  font-size: 1.5rem;
  border: solid;
  border-width: 1px;
  border-radius: 0.8rem;
  width: 100px;
  height: 50px;
  padding-inline:  10px;

}

form button {
  color: white;
  font-size: 1rem;
  border: none;
  background-color: #676e74;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 10rem;
  box-shadow: 676e74;
  cursor:grab;
}